<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--FontAwesome-->
    @Styles.Render("~/bundles/fontawesome")
    <!-- base css -->
    @*@Styles.Render("~/bundles/baseCss")*@
    @section scripts{
        <script src="~/AngularJS/App/app.js">
        </script>
   }
</head>
<body style="padding: 0 !important">
    <div class="page-wrapper" ng-app="RTCWeb">
        <main id="js-page-content" role="main" class="page-content">
            @RenderBody()
        </main>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Copyright by Thinhnoz1</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/moment.js")
    @RenderSection("scripts", required: false)
</body>


</html>
